.login-container{
   
    margin: 30%;
 }
 .login-form h3{
     text-align: center;
     color: #333;
 }
 .login-form{
     padding: 5%;
     box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
 }
 .login-container form{
     padding: 20%;
 }
 .btnSubmit
 {
     width: 75%;
     border-radius: 1rem;
     padding: 1.5%;
     border: none;
     cursor: pointer;
 }
 .login-form .btnSubmit{
     font-weight: 600;
     color: #fff;
     background-color: #0062cc;
 }